body {
    background-color: #E6E6FA;
    //background-image: url("../images/1.jpg");
    //background-repeat: no-repeat;
    background-size: 100%;
}

a:hover {color:#FF00FF;} 

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn_pos{
    position:fixed;
    left: 75%;
    top: 70%;
    z-index: 10001;
    
}
.btn_help_pos{
    position:fixed;
    left: 65%;
    top: 45%;
    z-index: 10001;
    
}

.div_help_pos{
    position:fixed;
    left: 55%;
    top: 47%;
    z-index: 10001;
    color: #FFFFFF;    
}

.btn_history_pos{
    position:fixed;
    left: 65%;
    top:55%;
    z-index: 10001;
    
}

.div_history_pos{
    position:fixed;
    left: 50%;
    top:57%;
    z-index: 10001;
    color: #FFFFFF;      
}

.btn_why_pos{
    position:fixed;
    left: 65%;
    top: 65%;
    z-index: 10001; 
    
}

.div_why_pos{
    position:fixed;
    left: 43%;
    top: 67%;
    z-index: 10001; 
    color: #FFFFFF;      
}

.btn_address_pos{
    position:fixed;
    left: 65%;
    top: 75%;
    z-index: 10001; 
    
}

.div_address_pos{
    position:fixed;
    left: 43%;
    top: 77%;
    z-index: 10001; 
    color: #FFFFFF; 
    
}

.btn_address_pos_now{
    position:fixed;
    left: 65%;
    top: 85%;
    z-index: 10001; 
    color: #FFFFFF;     
}

.div_address_pos_now{
    position:fixed;
    left: 43%;
    top: 87%;
    z-index: 10001; 
    color: #FFFFFF; 
    
}

.transparentveiw{
    width:100%;
    height:100%;
   opacity: 0.80;
    z-index:1001;
    position:fixed;
    left:0px;
    top:0px;
    //visibility:hidden;
    background-color: #333333;
    z-index: 10000;
}
