<div class="container">
   <h2>Order By Customer</h2>
    
<table class="table table-responsive table-striped table-hover table-bordered">
    
             <tr>
             <th>Customer ID</th>
             <th>Customer Name</th>
             <th>Order Date</th>
             <th>Mobile</th>
             <th>Status</th>
          </tr>

           <tr ng-repeat="customer in customers | orderBy:'-cdate'">
                  <td>{{customer.customerid}}</td>
                  <td>{{customer.firstname}} {{customer.lastname}}</td>
                  <td>{{customer.cdate}}</td>
                  <td>{{customer.mobile}}</td>
                  <td><button type="button" class="btn btn-primary" ng-click="onHistory(customer.customerid)" data-toggle="modal" data-target="#ordermodal">History</button></td>
           </tr>
    
</table>    
</div>  
<!-- Modal -->
<div id="ordermodal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
      <table class="table table-responsive table-striped table-hover table-bordered">
    
             <tr>
             <th>Order Date</th>
             <th>Quantity</th>
             <th>Amount</th>
             <th>Status</th>
          </tr>

           <tr ng-repeat="hist in history | orderBy:'-cdate'">
                  <td>{{hist.cdate}}</td>
                  <td>{{hist.quantity}}</td>
                  <td>{{hist.payment}}</td>
                  <td>{{hist.status}}</td>
                  
           </tr>
    
</table> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>